*.mcap
*.db3
*.sqlite
*.sqlite3
*.csv


# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Dependencies / builds
node_modules/
dist/
build/

# Logs
*.log

# Environment variables
*.env
local.config.toml
*.venv

# ROS2 build files and zoe drivers
build/
install/
log/
can_zoe/
can_interface/